$bg: #987;
$text: lighten($bg, 35%);

.dropdown-input {
    background-image: url('../images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px; // margin: .2px 0 1px;
    padding: 12px 20px 12px 40px;
    width: 100%;
    border: 1px solid #ddd; // space after the input
}

// .dropdown{
//     display: inline-block;
//     position: relative;
//     border: 1px solid;
//     border-radius: 3px;
//     border-color: white;
//     height: 28px;
//     width: 150px;
//     overflow: hidden;
//     &::before, &::after{
//         position: absolute
//     }
//     &:focus{
//     }
// }
// .dropdown-content{
//     overflow:scroll;
//     padding: 5px;
//     overflow-x:hidden;
//     height: 100px;
//     display: inline-block;
//     // overflow: auto;
//     // width: 100px;
//     line-height: 3em
//     // height: 300px;
//     // overflow-x: hidden;
//     // overflow: scroll;
//     // display: none;
//     // position: absolute;
//     // min-width: 160px;
//     // z-index: 1;
// }
.dropdown-content {
    list-style-type: circle;
    padding: 0;
    margin: 0;
    height: auto;
    height: auto;
    overflow: auto;
    .dropdown-line {
        .dropdown-line-content {
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
            &:hover:not(.header) {
                background-color: #eee
            }
        }
    }
}