$bg: #987;
$text: lighten($bg, 35%);
$easingName: 'easeInSine';

.dropdown {
    // width: 243px;
    width: inherit;


.dropdown-input {
    background-image: none;
    background-color: #fff;
    display: block;
    color: #555;
    height: 34px;
    width: 100%;
    font-size: 14px;
    padding: 6px 12px;
    // width: 100%;
    width: inherit;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-content {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    height: 200px;
    // width: 100%;
    width: inherit;
    z-index: 2;
    .dropdown-line {
        .dropdown-line-content {
            border: 1px solid #ddd;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 12px;
            text-decoration: none;
            font-size: 14px;
            color: black;
            display: block;
            &:hover:not(.header) {
                background-color: #eee
            }
        }
    }
}
}